@model IEnumerable<WorkingMVC.Models.Users.UserItemModel>

@{
    ViewData["Title"] = "Index";
    int i = 1;
}
<div class="container">
    <h1 class="text-center">Список користувачів</h1>
    <div class="border rounded overflow-hidden">
        <table class="table table-hover table-row-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Roles)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(i++)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @foreach (var role in item.Roles!)
                            {
                                <div class="d-inline p-1 bg-primary text-white rounded">@role</div>
                            }
                        </td>
                        <td>
                            <img src="/images/@Html.DisplayFor(modelItem => item.Image)" width="100" />
                        </td>
                        <td>
                            <div class="actions">
                                <div>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                </div>
                                <div>
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                                </div>
                                <div>
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </div>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
